*{
    /* border: 1px solid red;   */
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.article-center-parent{
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.article-center-child{
    background-color: #ffffff;
    border-radius: 15px;
    width: 70%;
}
.artile-title-center{
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 20px;
}
.artile-publish-info{
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
    margin: 10px;
}
.article-image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 30%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* img carousel */
.carousel {
    background: #fff;
  }
  
  .carousel-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background: #fff;
  }
  
  .carousel-cell-image {
    display: block;
    margin: 0 0 0 0;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
  }
  
  /* fade in lazy loaded image */
  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  }
  
/* img carousel end here */
.sub-header-title{
    font-size: 2rem;
    color: #000000;
    text-align:left;
    margin-left: 20px;
}
.article-body-info{
    font-size: 1rem;
    color: #000000;
    text-align: justify;
    text-justify: newspaper;
    padding: 10px;
    line-height:25px;
}
.figure-center{
    text-align: center;
    font-size: 0.8rem;
}
.figure-image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 50%;
}
/*flex image for list items*/
.flex-img-parent-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-evenly;
    align-items: center;
}
.flex-item{
    justify-content: flex-start;
    display: flex;
    padding-left: 20px;
}
.flex-img{
    height: 200px;
    width: 250px;
}
figcaption{
    margin: 40px;
    text-align: center;
    font-size: 0.8rem;
}
/* image grid */
  @media only screen and (max-width: 768px) and (max-width: 1024px){
    .article-center-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 5px;
        margin: auto;
    }
    .article-center-child{
        /* border: 1px solid green; */
        background-color: #ffffff;
        border-radius: 15px;
        width: 100%
    }
    .artile-title-center{
        font-size: 1rem;
        color: #000000;
        text-align: center;
        margin: 20px;
    }
    .artile-publish-info{
        font-size: 0.8rem;
        color: #000000;
        text-align: center;
        margin: 10px;
    }
    .article-image-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 100%;
    }
    .article-body-info{
        font-size: 0.8rem;
        /* font-family: 'Times New Roman', Times, serif; Fallback serif font */
        color: #000000;
        line-height:25px;
    }
    .sub-header-title{
        font-size: 1.2rem;
        color: #000000;
        text-align:center;
        margin: 0;
    }
    .figure-center{
        text-align: center;
        font-size: 0.8rem;
    }
    .figure-image-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 350px;
    }
    /*flex image for list items*/
.flex-img-parent-col{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.flex-img-child{
    display: flex;
    justify-content:center;
}
.flex-img{
    height: 150px;
    margin: 5px;
    width: 200px;
}
/* img carousel */
.carousel {
    background: #fff;
    margin-bottom: 30px;
  }
  
  .carousel-cell {
    background: #fff;
  }
  
  .carousel-cell-image {
    text-align:center;
    margin: 0 0 0 0;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
  }
  
  /* fade in lazy loaded image */
  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  }
  
/* img carousel end here */
  }

  